*{
    box-sizing: border-box;
    font-family: •	A betűcsalád legyen Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10 pt;
    margin: 0px;
    padding: 0px;

}
body{
    background-image: url(black.png);
}