*{
    box-sizing: border-box;
    font-family: •	A betűcsalád legyen Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10 pt;
    margin: 0px;
    padding: 0px;
    justify-content: center;

}
body{
    background-image: url(black.png);
    justify-content: center;
}
main{
     /* display: grid;
    grid-template-columns: 3fr 1fr;  */
    width: 90%;
    max-width: 900px;
    background-color: rgb(177, 190, 188);
}

header{
   height: 300px;
   background-size: cover;
}

nav{
   
    /* display: grid;
    grid-template-columns: 1fr 1fr 5fr; */
  
    word-spacing: 20px;
    margin: 5px;
    bo


}
nav li:hover{
    cursor: pointer;
    background-color: orange;
}

nav li{
    font-weight:bold ;
   
    display: inline;

}

.fooldal{
    margin: 2px;
    border: .5px solid white;
}


    
  

article{
    text-align: justify;
    
}
article p{
    font-size: 10px;

}
article li{
    list-style-type: square;
    margin-left: 5%;

}
article h1{
    font-size: 15px;
}

article img{
    height: 300px;
    width: 200px;
    float: right;
}